$darkest_blue: #004472
$dark_blue: #015994
$blue: #23b2ff
$light_blue: #68CCFF

::-webkit-scrollbar 
    width: 12px

::-webkit-scrollbar-track
    background: $darkest_blue

::-webkit-scrollbar-thumb
    background: $blue
    border-radius: 6px
    border: 3px solid $darkest_blue
    &:hover
        background: $dark_blue

*
    margin: 0
    padding: 0
    font-family: Century Gothic, Arial, Sans-Serif
    font-weight: bold
    text-decoration: none
    overflow-x: hidden
    outline: none
    transition: none
    i
        display: block
        overflow: hidden

body
    background: $dark_blue

.header, .footer
    display: flex
    align-items: center
    justify-content: space-between
    background: $darkest_blue
    color: $blue
    padding: 5px
    overflow: hidden
    min-width: 290px

.header
    height: 35px
    &.sticky
        width: calc(100% - 10px)
        position: fixed
    &.sticky + .content
        padding-top: 45px
    .main
        display: flex
        align-items: center
        height: calc(100% - 10px)
        .logo-big, .logo-small
            height: 100%
        .logo-small
            display: none
        .title
            font-size: 16px
            margin: 0 0 0 10px
    .options
        display: flex
        nav
            ul
                display: flex
                list-style: none
                li
                    height: 34px
                    margin: 0 0 0 8px
                    border-radius: 5px
                    color: $blue
                    background: none
                    cursor: pointer
                    transition: ease 100ms
                    &:hover
                        background: $dark_blue
                        color: white
                    a
                        display: flex
                        align-items: center
                        padding: 7px
                        color: $blue
                        p
                            display: inline-block
                        i
                            font-size: 20px
                            margin: 0 0 0 8px
        .lang-box
            display: flex
            align-items: center
            margin: 0 0 0 8px
            padding: 7px
            border-radius: 5px
            cursor: pointer
            background: $blue
            color: $darkest_blue
            transition: ease 100ms
            &:hover
                background: $dark_blue
                color: white
            p
                display: inline-block
            i
                margin: 0 0 0 8px
        .lang-selection
            display: none
            border-radius: 5px
            cursor: pointer
            background: $blue
            &.visible
                display: flex
                flex-direction: column
                position: fixed
                top: 50px
                right: 5px
            ul
                li
                    display: flex
                    justify-content: end
                    margin: 5px 5px 0 5px
                    padding: 7px
                    border-radius: 5px
                    background: none
                    color: $darkest_blue
                    transition: ease 100ms
                    &:hover
                        background: $dark_blue
                        color: white
                    p
                        display: block
                        text-align: center
                    .lang-name
                        width: 70px
                        margin: 0 5px 0 0
                    .lang-abbreviation
                        width: 25px
                        margin: 0 0 0 5px
                    &:last-child
                        margin: 5px

.content
    min-height: calc(100vh - 75px)
    max-width: 1000px
    margin: 0 auto
    .section
        font-size: 40px
        text-align: center
        color: $blue
        margin: 40px 0 10px 0
    .about-me
        .profile
            display: grid
            grid-template-areas: "photo bio" "photo cv"
            grid-template-rows: auto 54px
            grid-template-columns: 300px auto
            .photo
                grid-area: photo
                min-width: 300px
                width: 300px
            .bio
                grid-area: bio
                text-align: justify
                padding: 20px
                color: $darkest_blue
                background: $light_blue
            .cv
                grid-area: cv
                display: flex
                justify-content: center
                align-items: center
                padding: 10px
                background: $darkest_blue
                a
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 7px
                    border-radius: 5px
                    color: $blue
                    transition: ease 100ms
                    i
                        font-size: 20px
                        text-align: center
                        margin: 0 8px 0 0
                    &:hover
                        background: $dark_blue
    .projects
        display: flex
        flex-direction: column
        .project
            display: grid
            grid-template-areas: "image content" "sites content"
            grid-template-rows: 168.75px
            grid-template-columns: 300px
            margin: 4px 0 0 0
            &:first-of-type
                margin: 0
            .photo
                grid-area: image
                width: 300px
                background: $darkest_blue
            .info
                grid-area: content
                overflow: hidden
                .title
                    padding: 10px
                    font-size: 22px
                    text-align: center
                    background: $darkest_blue
                    color: $blue
                .description
                    text-align: justify
                    height: calc(100% - 87px)
                    padding: 20px
                    background: $light_blue
                    color: $darkest_blue
                    overflow: hidden
            .sites
                grid-area: sites
                display: flex
                flex-direction: column
                width: 280px
                padding: 10px
                background: $darkest_blue
                transition: none
                a
                    display: flex
                    align-items: center
                    margin: 8px 0 0 0
                    padding: 7px
                    border-radius: 5px
                    color: $blue
                    transition: ease 100ms
                    &:hover
                        background: $dark_blue
                    &:first-child
                        margin: 0
                    i
                        font-size: 20px
                        text-align: center
                        margin: 0 8px 0 0
        .more-projects
            grid-area: cv
            display: flex
            justify-content: center
            align-items: center
            margin: 4px 0 0 0
            padding: 10px
            background: $darkest_blue
            a
                display: flex
                justify-content: center
                align-items: center
                padding: 7px
                border-radius: 5px
                color: $blue
                transition: ease 100ms
                i
                    font-size: 20px
                    text-align: center
                    margin: 0 8px 0 0
                &:hover
                    background: $dark_blue
    .skills
        display: flex
        flex-direction: column
        .tech, .personal
            display: flex
            .title
                display: flex
                justify-content: center
                align-items: center
                background: $darkest_blue
                color: $blue
                font-size: 22px
                text-align: center
                min-width: 280px
                width: 280px
                padding: 10px
                transition: none
            .list
                width: 700px
                padding: 20px
                background: $light_blue
                color: $darkest_blue
                div
                    display: flex
                    align-items: center
                    height: 40px
                    i
                        display: inline-block
                        text-align: center
                        min-width: 30px
                        width: 30px
                        font-size: 25px
                        margin: 0 8px 0 0
                    p
                        display: inline-block
        .personal
            flex-direction: row-reverse
            margin: 4px 0 0 0
            .list
                p
                    display: flex
                    justify-content: end
                    align-items: center
                    height: 40px
                    text-align: right
    .network
        margin: 0 0 40px 0
        .links
            display: flex
            a
                padding: 20px
                width: calc(100% / 3)
                text-align: center
                color: $blue
                background: $darkest_blue
                &:nth-of-type(2n)
                    color: $darkest_blue
                    background: $light_blue
            i
                font-size: 40px
                margin: 0 0 20px 0

.footer
    height: 20px
    justify-content: center

@media (max-width: 1000px)
    .header
        .main
            h2
                display: none

@media (max-width: 800px)
    .content
        .about-me
            .profile
                grid-template-areas: "photo bio" "cv bio"
                .cv
                    max-width: 300px
                    a
                        p
                            display: inline-block
                            text-align: center

@media (max-width: 750px)
    .header
        .options
            nav
                ul
                    li
                        a
                            p
                                display: none
                            i
                                margin: 0
                                min-width: 20px
                                text-align: center

@media (max-width: 650px)
    .content
        max-width: 350px
        .section
            min-width: 350px
        .about-me
            .profile
                grid-template-areas: "photo" "bio" "cv"
                grid-template-rows: 350px auto 57px
                grid-template-columns: 350px
                .photo
                    min-width: null
                    width: 350px
                .cv
                    max-width: none
        .projects
            .project
                grid-template-areas: "image" "content" "sites"
                grid-template-rows: 196.875px
                grid-template-columns: 350px
                .photo, .info
                    width: 350px
                .sites
                    width: 330px
        .skills
            .tech, .personal
                flex-direction: column
                .title
                    min-width: none
                    width: 330px
                .list
                    width: 310px
            .personal
                .list
                    p
                        justify-content: left
                        text-align: left
        .network
            .links
                flex-direction: column
                a
                    width: calc(100% - 40px)

@media (max-width: 450px)
    .header
        .main
            .logo-big
                display: none
            .logo-small
                display: block