---
import { getTranslations } from "@/i18n/useTranslate";
import AlertIcon from "@/icons/AlertIcon";
import Layout from "@/layouts/Layout.astro";

const { currentLocale } = Astro
const language = currentLocale || 'es'
const translations = getTranslations(language)
---
<Layout
    title={translations["not-found.page-title"] as string}
    description={translations["not-found.page-title"] as string}
    language={language}
    translations={translations}
>
    <div class="h-full content-center">
        <p class="text-7xl md:text-9xl text-center font-semibold">404</p>
        <p class="text-base md:text-lg text-center">{translations["not-found.message"]}</p>
        <AlertIcon filled duotone className="h-36 md:h-52 w-36 md:w-52 mx-auto mt-10" />
    </div>
</Layout>
